:root {
  --text: #ffffff;
  --buttonGradient: linear-gradient(
    0deg,
    #f40f3e 0%,
    #f40f3e 0.01%,
    #fa5a71 100%
  );
  --grey: #bdbdbd;
  --background: #000000;
  --shadow: rgba(245, 26, 70, 0.8);
}
