.table {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40vh;
  text-align: center;
  overflow: hidden;
  z-index: 20;

  @media screen and (max-width: $MobileWidth) {
    height: 35vh;
  }

  @media screen and (max-width: $MobileMiniWidth) {
    height: 32vh;
  }

  &__image {
    display: block;
    width: 80%;
    height: 40vh;

    @media screen and (max-width: $DesktopWidth) {
      width: 90%;
    }

    @media screen and (max-width: $TabletWidth) {
      width: 110%;
    }

    @media screen and (max-width: $MobileWidth) {
      height: 35vh;
      width: 120%;
    }

    @media screen and (max-width: $MobileMiniWidth) {
      height: 32vh;
      width: 130%;
    }
  }
}

.barrel__container {
  position: absolute;
  bottom: 30vh;
  left: 52%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 38vw;
  z-index: 30;

  @media screen and (max-width: $DesktopWidth) {
    width: 50vw;
  }

  @media screen and (max-width: $TabletWidth) {
    width: 60vw;
  }

  @media screen and (max-width: $MobileWidth) {
    bottom: 28vh;
  }

  @media screen and (max-width: $MobileMiniWidth) {
    bottom: 25vh;
  }
}

.barrel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 184px;
  height: 115px;

  @media screen and (max-width: $DesktopWidth) {
    width: 170px;
    height: 110px;
  }

  @media screen and (max-width: 850px) {
    width: 160px;
    height: 105px;
  }

  @media screen and (max-width: $TabletWidth) {
    width: 150px;
    height: 100px;
  }

  @media screen and (max-width: 650px) {
    width: 145px;
    height: 90px;
  }

  @media screen and (max-width: 570px) {
    width: 132px;
    height: 85px;
  }

  @media screen and (max-width: $MobileWidth) {
    width: 120px;
    height: 75px;
  }

  @media screen and (max-width: 470px) {
    width: 100px;
    height: 55px;
  }

  @media screen and (max-width: $MobileMiniWidth) {
    width: 90px;
    height: 45px;
  }

  &__image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }

  &__coin {
    position: absolute;
    bottom: 15px;
    left: 21%;
    display: block;
    width: 48px;
    height: 27px;
    z-index: 1;

    @media screen and (max-width: $TabletWidth) {
      width: 30px;
      height: 18px;
    }

    @media screen and (max-width: $MobileWidth) {
      width: 26px;
      height: 16px;
      bottom: 10px;
    }

    @media screen and (max-width: $MobileMiniWidth) {
      width: 22px;
      height: 14px;
    }
  }
}
